.icon-question:before {
  padding-left: 4px;
  padding-right: 4px;
}

.device-col {
  margin-top: 100px !important;
}

.device-container {
  margin-top: -38px !important;
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
}

.is_stuck {
  top: 62px !important;
}

.is_stuck.device-col {
  margin-top: 0px !important;
}

.is_stuck .device-container {
  margin-top: 0px !important;
}

#device-blocker {
  background: #fff;
  height: 100px;
  z-index: 999;
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 100%;
  display: none;
}

section#contact,
section#healthcare,
section#healthcare2,
footer {
  z-index: 99;
  position: relative;
}

.white-t p.text {
  color: #fff;
}

.white-t p.text-muted {
  color: #f7f7f7;
}

#healthcare {
  text-align: center;
  background: #fff;
}

img.top {
  transition: all 0.75s ease-in-out;
  -webkit-transition: all 0.75s ease-in-out;
  position: relative;
  z-index: 10;
}

img.one,
img.two,
img.three,
img.four,
img.five {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
}

header {
  background: url(../img/bg-pattern3.png), #4bd2eb;
  background: url(../img/bg-pattern3.png), -webkit-linear-gradient(to left, #43e4d5, #4bd2eb);
  background: url(../img/bg-pattern3.png), linear-gradient(to left, #43e4d5, #4bd2eb);
}

#healthcare {
  background: url(../img/duotone.png), linear-gradient(253deg, #43e4d5, #4bd2eb, #27b6e7);
  background-size: 100% 100%, 600% 600%;
  -webkit-animation: gradientAnim 30s ease infinite;
  -moz-animation: gradientAnim 30s ease infinite;
  animation: gradientAnim 30s ease infinite;
}

@-webkit-keyframes gradientAnim {
  0% {
    background-position: 0% 90%;
  }
  50% {
    background-position: 100% 11%;
  }
  100% {
    background-position: 0% 90%;
  }
}

@-moz-keyframes gradientAnim {
  0% {
    background-position: 0% 90%;
  }
  50% {
    background-position: 100% 11%;
  }
  100% {
    background-position: 0% 90%;
  }
}

@keyframes gradientAnim {
  0% {
    background-position: 0% 90%;
  }
  50% {
    background-position: 100% 11%;
  }
  100% {
    background-position: 0% 90%;
  }
}

section#healthcare.features .feature-item i {
  font-size: 80px;
  background: none;
  -webkit-background-clip: none;
  background-clip: none;
  -webkit-text-fill-color: #fff;
}

section#healthcare,
section#healthcare .text-muted,
section#healthcare.features .feature-item i {
  color: #fff !important;
}

section#download {
  background: #FFF;
}

section#contact a:hover {
  text-decoration: none;
}

#mainNav.navbar.navbar-default.navbar-fixed-top.affix-top {
  background: linear-gradient( to left, rgba(67, 228, 213, 0.7), rgba(75, 210, 235, 0));
}

li.social-email a {
  background-color: #1da1f2;
}

.chatcontainer {
  position: fixed;
  left: 10px;
  bottom: 0;
  height: 420px;
  width: 320px;
  z-index: 9999;
  border-radius: 25px 25px 0 0;
  border-top: 25px #0389d6 solid;
  transition: all 0.5s ease-in-out;
}

.chatcontainer .fa {
  position: relative;
  top: -20px;
  left: 15px;
  color: #fff;
}

.chatcontainer .right {
  pointer-events: none;
  float: right;
  color: #dc2430;
  position: absolute;
  right: 0;
  text-align: right;
  width: 28px;
  height: 28px;
  margin-left: auto;
  top: -40px;
  font-size: 28px;
  transition: opacity .5s ease-in-out;
  opacity: 0;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-name: pulse-right;
  -webkit-animation-name: pulse-right;
  -moz-animation-name: pulse-right;
  animation-duration: 5s;
  -webkit-animation-duration: 5s;
  -moz-animation-duration: 5s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
}

.chatcontainer.min .right {
  opacity: 1;
}

@keyframes pulse-right {
  0% {
    transform: scale3d(1, 1, 1);
  }
  2% {
    transform: scale3d(1.2, 1.2, 1);
  }
  4% {
    transform: scale3d(1, 1, 1);
  }
  6% {
    transform: scale3d(1.2, 1.2, 1);
  }
  8% {
    transform: scale3d(1, 1, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

.chatcontainer i.right.fa span {
  color: #fff;
  font-size: 18px;
  position: relative;
  left: -7px;
  top: -31px;
  font-family: 'Helvetica', 'Arial', 'sans-serif';
}

.chat-title {
  color: #fff;
  pointer-events: none;
  font-size: 18px;
  position: relative;
  top: -43px;
  font-family: 'Helvetica', 'Arial', 'sans-serif';
  text-align: center;
}

iframe.chat {
  height: 100%;
  width: 100%;
  border: 0;
  position: absolute;
  left: 0;
  top: 0;
}

.chatcontainer.max {
  width: 500px;
  height: calc(100% - 10px);
}

.chatcontainer.min {
  bottom: -395px;
}

@media only screen and (max-width: 480px) {
  .chatcontainer {
    width: calc(100% - 20px);
    -moz-width: calc(100% - 20px);
    -webkit-width: calc(100% - 20px);
  }
  .chatcontainer.max {
    width: calc(100% - 20px);
    -moz-width: calc(100% - 20px);
    -webkit-width: calc(100% - 20px);
  }
}

@media only screen and (max-width: 767px) {
  .chatcontainer {
    height: calc(100% - 10px);
    -moz-height: calc(100% - 10px);
    -webkit-height: calc(100% - 10px);
  }
  .chatcontainer.min {
    height: 420px;
  }
}