.icon-question:before {
	padding-left: 4px;
	padding-right: 4px;
}

#device-blocker {
	background: #FFF;
	height: 150px;
	z-index: 999;
	position: absolute;
	bottom: -100px;
	left: 0;
	width: 100%;
	display: none;
}

section#contact,
section#healthcare,
section#healthcare2,
footer {
	z-index: 99;
	position: relative;
}

.white-t p.text {
	color: #FFF;
}

.white-t p.text-muted {
	color: #f7f7f7;
}

#healthcare {
	text-align: center;
	background: #fff;
}